
body {
	background-color: #004c00;
	margin: 0px 0px 0px 0px;
	height: 100%;
	font-family: "Helvetica","Arial",sans-serif;
	color: #fff;
  position: relative;
  overflow-x: hidden;
}

.font_italic {
	font-style: italic;
}
.font_underline {
	text-decoration: underline;
}

#navigation {
	color: #000;
  height: 40px;
  width: 100%;
  background: grey;
  position: relative;
	margin-bottom: 5px;
}

#back_button_container {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 5px; left: 5px;
}

#back_button {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 30px solid #000;
  border-bottom: 15px solid transparent;
}

#logo {
	text-align: center;
	font-size: 2em;
	line-height: 50px;
}

#main_area_start {
	/*display: none;*/
}
#main_area_exercise {
	text-align: center;
	font-size: 1.5em;
	display: none;
}
#main_area_summary {
	display: none;
}

#comment {
	display: none;
	position: absolute;
	width: 100%;
	height: auto;
	top: 150px;
	min-height: 50px;
	background: grey;
	text-align: center;
	padding-bottom: 10px;
}
#comment_header {
	margin: 5px 0;
}
#comment textarea {
	width: 90%;
	outline:0; border 0;
	border: solid 1px #000;
	height: 80px;
	resize: none;
}
.commentButton {
	width: 80px;
	padding: 10px 0;
	background: #000;
	margin: auto;
	margin-top: 5px;
}

#start_gymlist {
	margin: auto;
	margin-top: 80px;
	background: #000;
	width: 150px;
	text-align: center;
	text-transform: uppercase;
	color: grey;
}
.gymlist_item {
	padding: 8px;
	border-bottom: solid grey 2px;
}

.ex_rep_container {
	margin: auto;
	width: 90%;
	border: solid 1px #fff;
	overflow: auto;
	margin-top: 7px;

}
.ex_rep_tophalf {
	overflow: auto;
	font-size: 0.8em;
}
.ex_rep_tophalf_item {
	float: left;
	padding: 3px;
	margin: 5px;
	overflow: auto;
}
.ex_rep_start, .ex_rep_stop {
	background: #000;
	color: grey;
}
.ex_rep_bottomhalf {
	overflow: auto;
	padding-bottom: 15px;
	margin-left: 8px;
}
.ex_data_container {
	float: left;
	margin-top: 5px;
}
.ex_data_up {
	width: 0;
	height: 0;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 17px solid #fff;
	margin:auto;
}
.ex_data_down {
	width: 0;
	height: 0;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-top: 17px solid #fff;
	margin:auto;
}
.ex_data_input {
	font-size: 1.2em;
}
.ex_data_container_comment {
	font-size: 0.6em;
	color: orange;
	line-height: 34px;
	margin-left: 8px;
}
.ex_decimal {
	padding-top: 23px;
}
.ex_data_container_repcount {
	margin: 5px 20px 0 20px;
}

.ex_comments {
	width: 95%;
	margin: auto;
	margin-top: 10px;
	text-align: left;
	font-size: 0.6em;
}
.ex_comments_item {
	margin: 5px 0;
}
.ex_comments_item div {
	float: left;
}
.ex_comments_label {
	font-weight: bold;
	color: orange;
	width: 80px;
	text-align: right;
	margin-right: 5px;
}

#summary_workoutinfo {
	width: 100%;
	background: darkgreen;
	font-weight: bold;
	font-size: 0.9em;
	text-transform: capitalize;
	overflow: auto;
	padding: 5px 0;
}
.summary_workoutinfo_item {
	width: 90%;
	margin: auto;
}
.summary_workoutinfo_item div {
	width: 45%;
	float: left;
}
.summary_workoutinfo_item_info {
	color: #fff;;
	text-align: left;
	margin-left: 5px;
}
.summary_workoutinfo_item_label {
	color: orange;
	text-align: right;
	margin-right: 5px;
}
#summary_workoutinfo_item_condition {
	font-weight: normal;
}
.summary_item {
	width: 95%;
	margin: auto;
	margin-top: 8px;
	border: solid 1px #fff;
	overflow: auto;
	font-size: 0.8em;
}
.summary_item_header {
	float: left;
	padding: 5px 0 0 5px;
	font-weight: bold;
	text-decoration: underline;
}
.summary_item_number {
	float: right;
	padding: 8px;
	font-weight: bold;
}
.summary_item_comments_list {
	margin-top: 25px;
	margin-left: 10px;
	font-size: 0.8em;
}
.summary_item_comments div {
	float: left;
}
.summary_item_comments_label {
	color: orange;
	font-weight: bold;
	width: 50px;
	text-align: right;
	margin-right: 5px;
}


.summar_rep_rows_container {
	margin-top: 5px;
	text-align: center;
	font-size: 0.8em;
}
.summary_rep_row_header {
	text-transform: uppercase;
	color: orange;
	font-weight: bold;
}
.summary_rep_row_item {
	float: left;
	width: 45px;
	margin-left: 8px;
}
.summary_rep_row_item_comment {
	width: 60px;
}
.summary_rep_row_item_reps {
	width: 30px;
}


















/**/
